@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

.body-text {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.extra-login-wrapper {
  width: 90%;
  max-width: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extra-container {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width: 100%;
  min-height: 500px;
  backdrop-filter: blur(15px);
}

.extra-left {
  flex: 1;
   background-image: url('../Assests/log.jpg');
   object-fit: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
}

.extra-left h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.extra-left p {
  font-size: 15px;
  margin-bottom: 30px;
}

.extra-register-btn {
  padding: 12px 28px;
  border: 2px solid #eeeff1;
  background: #f7f6f8;
  color: #812990;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.extra-register-btn:hover {
  background: #812990;
  color:white ;
}

.extra-right {
  flex: 1;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-color: white;
}

.glass {
  backdrop-filter: blur(10px);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.extra-right h3 {
  font-size: 26px;
  color: #812990;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

.extra-right form input {
  /* width: 100%; */
  padding: 14px;
  margin-bottom: 18px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
  transition: 0.3s ease;
}

.extra-right form input:focus {
  border-color: #812990;
  box-shadow: 0 0 5px rgba(129, 41, 144, 0.5);
}

.extra-login-btn {
  width: 100%;
  padding: 14px;
  background-color: #812990;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 40px;
}

.extra-login-btn:hover {
  background-color: #5b146a;
}
.logo{
	font-size: 50px;
	text-align: center;
}

@media (max-width: 768px) {
  .extra-container {
    flex-direction: column;
    min-height: auto;
    margin: 20px;
  }

  .extra-left, .extra-right {
    padding: 30px;
    border-radius: 0;
  }
}
